@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
}

.justify-items-center{
    justify-items: center;
}